# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2.1
orbs:
  codecov: codecov/codecov@4.1.0
jobs:
  build:
    docker:
      # https://circleci.com/developer/images/image/cimg/node
      #- image: cimg/node:12.22.1
      #- currently we need this for dynamic import in module tests, ONLY.
      - image: cimg/node:18.20.4

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/mongo:3.4.4

    resource_class: large

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      # Check for TypeScript errors
      - run: yarn test:ts

      # Check that schema is up-to-date
      - run: scripts/schema-check.sh

      - run: yarn prettier --check src tests tests-modules

      # run tests!
      - run: yarn test --collectCoverage=true

      - store_artifacts:
          path: coverage

      - codecov/upload:
          file: './coverage/coverage-final.json'

      - run: yarn build
      - run: yarn test:build

      - run: yarn semantic-release
